<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<nav class="navbar navbar-expand-sm  bg-light border">
  <div class="container">
  <!-- Brand -->
  <a class="navbar-brand" href="#">
    <img src="http://zingamapp.com/logo.png" alt="Logo" style="width:120px;">
  </a>
   <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

 </div>
</nav>


<div class="content py-5 bg-light  ">
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
                    <span class="anchor" id="formChangePassword"></span>
                   <!-- form card change password -->
                    {{error}} 
                    <div class="card card-outline-secondary">
                        <div class="card-header">
                            <h3 class="mb-0">Reset Password</h3>
                        </div>
                       
                        <div class="card-body">
                            

                            <form class="form" role="form" method="POST" action="https://zingam-api.herokuapp.com/auth/resetPassword/{{code}}">
                               
                                <div class="form-group">
                                    <label for="">New Password</label>
                                    <input type="password" class="form-control" id="" name="password" required="">
                                    
                                </div>
                                <div class="form-group">
                                    <label for="">Verify New Password</label>
                                    <input type="password" class="form-control" id="" name="cpass" required="">
                                    
                                </div>
                                <div class="form-group">
                                    <button type="submit" name="reset" class="btn btn-success btn-lg float-right">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /form card change password -->

                </div>
	</div>
</div>
</div>

